/* RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023B
Assessment: Assignment 1
Author: Tran Minh Nhat
ID: s3924826
Acknowledgement: GreatStack, Cem Eygi Media, CodingNepal  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
   background: linear-gradient(#fff, #5dc0bb);
}
.header .row{
    margin-top:70px;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
/* move navigation bar to right */
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
nav ul li a{
    text-decoration: none;
    color: #556;
    opacity: 0.7;
    transition: 0.5s;
}
nav ul li a:hover{
    opacity: 1;
}
a{
    text-decoration: none;
    color: #556;
}
p{
    color:#556;
}
/* centralize the home page */
.container{
    max-width: 1300px;
    margin:auto;
    padding-left: 25px;
    padding-right: 25px;
}
/* marginalize home page welcoming section */
.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
/* sizing home page image */
.col-2 img{
    max-width: 500px;
    padding: 50px 0;
} 

/* sizing h1 */
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
} 
/* design button */
.button{
    display: inline-block;
    background: #eb9a31;
    color: aliceblue;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius:30px;
    transition: background 0.5s; 
}
/* combine with transition for delay effect */
.button:hover{
    background: #563434;
}

.Categories{
    margin: 70px 0;
}

/* Category options styling */
.card1, .card2, .card3{
    width: 300px;
    height: 330px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
  }
.card1{
    background-image: url(image/fiction-category.webp);
}
.card2{
    background-image: url(image/nonfiction-category.jpg);
}
.card3{
    background-image: url(image/textbook-category.jpg);
}
.card1:hover, .card2:hover, .card3:hover{
    transform: translateY(-10px);
}
.card,.card1,.card2,.card3 h5{
    color: #556;
    text-shadow: 0 0 5px #999;
    font-size: 28px;
    font-weight: bolder;
    text-align: center;
}

/* general small container for each category and subcategory section  */
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.video-container{
    max-width: 1080px;
    margin: auto;
    text-align: center;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4 img{
    width: 100%;
    box-shadow: 0 0 5px #556;
}

.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.title::after{
    content: '';
    background: #ff9204;
    width: 160px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4{
    color: #556;
    font-weight: bold;
}
.rating .fa{
    color: rgb(247, 193, 15);
}
.col-4 p{
    font-size: 14px;
}
/* make the books more interactive when move the cursor to */
.col-4:hover{
    transform: translateY(-5px);
}

.footer{
    background-color: #5dc0bb;
}
.footer-container{
    width: 100%;
    padding: 70px 30px 20px;
}
.footer-navbar{
    margin: 30px 0;
}
.footer-navbar ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footer-navbar ul li a{
    color: black;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}
.footer-navbar ul li a:hover{
    opacity: 1;
}
.footer-bot{
    padding: 20px;
    text-align: center;
}
.footer-bot p{
    color: #556;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}
.checkbtn{
    font-size: 30px;
    color: black;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}


/* ------media query for menu----- */

@media (max-width: 992px){
    nav ul li a{
        font-size: 16px;

    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    .navbar ul{
        position: fixed;
        width:100%;
        height: 100vh;
        background: #fff;
        top:150px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
    }
    .navbar nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover, a.active{
        background: none;
        color:#556;
    }
    #check:checked ~ ul{
        left: 0;
    }
}
@media (max-width: 800px){
    .footer-navbar ul{
        flex-direction: column;
    }
    .footer-navbar ul li{
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}
@media (max-width: 700px){
    .logo img{
        width: 120px;
    }
    .video-container iframe{
        width: 300px;
        height: 120px;
    }
}