/* RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023B
Assessment: Assignment 1
Author: Tran Minh Nhat
ID: s3924826
Acknowledgement: GreatStack, Cem Eygi Media, CodingNepal, dcode */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
   background: linear-gradient(#fff, #5dc0bb);
}
.header .row{
    margin-top:70px;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
/*------------- header navbar-------------*/
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
nav ul li a{
    text-decoration: none;
    color: #556;
    opacity: 0.7;
    transition: 0.5s;
}
nav ul li a:hover{
    opacity: 1;
}
a{
    text-decoration: none;
    color: #556;
}
p{
    color:#556;
}
.link-title a{
    text-decoration: none;
    color: #556;
    opacity: 0.7;
    transition: 0.5s;
}
.link-title a:hover{
    opacity: 1;
}
/* centralize all elements in container */
.container{
    max-width: 1300px;
    margin:auto;
    padding-left: 25px;
    padding-right: 25px;
}
/*--------- home page welcoming section ----------*/
.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
/* sizing home page image */
.col-2 img{
    max-width: 500px;
    padding: 50px 0;
} 

/* sizing h1 */
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
} 
/* design button */
.button{
    display: inline-block;
    background: #eb9a31;
    color: aliceblue;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius:30px;
    transition: background 0.5s; 
    cursor: pointer;
}
/* combine with transition for delay effect */
.button:hover{
    background: #563434;
}

.Categories{
    margin: 70px 0;
}

/*--------- Category options styling -----------*/
.card1, .card2, .card3{
    width: 300px;
    height: 330px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
  }
.card1{
    background-image: url(image/fiction-category.webp);
}
.card2{
    background-image: url(image/nonfiction-category.jpg);
}
.card3{
    background-image: url(image/textbook-category.jpg);
}
.card1:hover, .card2:hover, .card3:hover{
    transform: translateY(-10px);
}
.card,.card1,.card2,.card3 h5{
    color: black;
    text-shadow: 0 0 5px #999;
    font-size: 28px;
    font-weight: bolder;
    text-align: center;
}

/* ----------- For Book Sections ------------- */
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.video-container{
    max-width: 1080px;
    margin: auto;
    text-align: center;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4 img{
    width: 100%;
    box-shadow: 0 0 5px #556;
    cursor: pointer;
}

.title{
    text-align: center;
    text-shadow: 0 0 5px #999;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: black;
    font-weight: bolder;
}
.title::after{
    content: '';
    background: #ff9204;
    width: 160px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
h4{
    color: #556;
    font-weight: bold;
}
.rating .fa{
    color: rgb(247, 193, 15);
}
.col-4 p{
    font-size: 14px;
}
/* make the books more interactive when move the cursor to */
.col-4:hover{
    transform: translateY(-5px);
}
/* ----------- footer --------------- */
.footer{
    background-color: #5dc0bb;
}
.footer-container{
    width: 100%;
    padding: 70px 30px 20px;
}
.footer-navbar{
    margin: 30px 0;
}
.footer-navbar ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footer-navbar ul li a{
    color: black;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}
.footer-navbar ul li a:hover{
    opacity: 1;
}
.footer-bot{
    padding: 20px;
    text-align: center;
}
.footer-bot p{
    color: #556;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}
.checkbtn{
    font-size: 30px;
    color: black;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
/*------------ breadcrumbs --------------*/
.breadcrumb{
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}
.breadcrumb-item{
    display: inline-block;
}
.breadcrumb-item:not(:last-of-type)::after{
    content: '/';
    margin: 0 5px;
    color:#5dc0bb;
}

.breadcrumb-link{
    text-decoration: none;
    color: rgb(168, 168, 173);
}

.breadcrumb-link:hover{
    text-decoration: underline;
}
.breadcrumb-link--special{
    color: #ff9204;
    font-weight: 500;
}

/*------------- book detail ------------*/
.book-detail{
    margin-top: 80px;
}
.book-detail .col-2 img{
    padding: 0;  
}

.book-detail .col-2{
    padding: 20px;
}
.book-detail h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}
.book-detail select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}
.book-detail input{
    width: 50px;
    height:40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #ff9204;
}
input:focus{
    outline: none;
}
.img-info-order {
    display: flex;
    flex-direction: row;
}
.image-item {
    display: flex;
    flex-direction: row;
}
.more-img-row{
    display: flex;
    flex-direction: column;
}
.more-img-col img{
    width: 180px;
    height: 180px;
    margin-left:10px;
}
/*------------ Contact us form ------------*/
.contact-form {
    max-width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ff9204;
    background-color: #f9f9f9;
    border-radius: 10px;
  }
form{
    width: 90%;
    max-width: 600px;
  }

  .form-group select,.form-group input, textarea{
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ff9204;
    border-radius: 5px;
    width: 100%;
    font-size: 15px;
  }
  .form-group label{
    display: block;
    font-weight: bold;
    color: #556;
    height: 100%;
    left: 0;
    top: 0;
    padding: 10px;
    cursor: text;
  }
  .form-group2 label{
    display: block;
    font-weight: bold;
    color: #556;
    height: 100%;
    left: 0;
    top: 0;
    padding-top: 10px;
    padding-bottom: 20px;
    cursor: text;
  }
  .btn-container {
    display: flex;
    justify-content: space-between;
  }
  .btn-container button {
    display: inline-block;
    background: #eb9a31;
    color: aliceblue;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius:30px;
    transition: background 0.5s; 
    cursor: pointer;
  }
  .btn-container button:hover{
    background: #563434;
  }
/* ---------- Alternative title------------- */
.title-1{
    text-align: center;
    margin: 0 auto 30px;
    margin-top: 80px;
    line-height: 60px;
    position: inherit;
    color: black;
    font-weight: bolder;
    text-shadow: 0 0 5px #999;
}
/* ------media query for responsive website----- */

@media (max-width: 992px){
    nav ul li a{
        font-size: 16px;

    }
}
/* When screen at 858 change nav bar to hidden vertical nav bar with burger icon menu */
@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    .navbar ul{
        position: fixed;
        width:100%;
        height: 100vh;
        background: white;
        top:150px;
        left: -100%;
        text-align: center;
        z-index: 0;
        transition: all 0.5s;
    }
    .navbar nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover, a.active{
        background: none;
        color:#556;
    }
    #check:checked ~ ul{
        left: 0;
    }
    .btn-container{
        width: 100%;
        flex-direction: column;
    }
}
/* at 850 change font size of book names in book detail page */
@media (max-width: 850px){
    .img-info-order h1{
        font-size: 35px;
        line-height: 40px;
    }     
}
/* change footer nav bar to vertical one */
@media (max-width: 800px){
    .footer-navbar ul{
        flex-direction: column;
    }
    .footer-navbar ul li{
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}
/* resizing logo and video */
@media (max-width: 700px){
    .logo img{
        width: 120px;
    }
    .video-container iframe{
        width: 300px;
        height: 150px;
    }
}
/*----------- make responsive book detail information --------------*/
@media only screen and (max-width: 768px){
    .row{
        text-align: center;
    }
    .img-info-order {
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    .img-info-order .col-2{
        padding: 20px 0;
    }
    .img-info-order h1{
        font-size: 26px;
        line-height: 30px;
    }
    .image-item {
        display: flex;
        flex-direction: column;
    }
    .image-item img{
        width: 100%;
        height:100%;
        margin-left: 0;
        margin-top: 10px;
    }
    .more-img-row{
        display: flex;
        flex-direction: row;
    }
    .more-img-row img{
        width: 166px;
    }
    .contact-form{
        max-width: 80%;
    }
}
@media only screen and (max-width: 545px){
    .row{
        text-align: center;
    }
    .img-info-order {
        display: flex;
        flex-direction: column;
        text-align: left;
    }
    .img-info-order .col-2{
        padding: 20px 0;
    }
    .img-info-order h1{
        font-size: 26px;
        line-height: 30px;
    }
    .image-item {
        display: flex;
        flex-direction: column;
    }
    .image-item img{
        width: 100%;
        height:100%;
        margin-left: 0;
        margin-top: 10px;
    }
    .more-img-row{
        display: flex;
        flex-direction: row;
    }
    .contact-form{
        max-width: 80%;
    }
}