* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
   background: linear-gradient(#fff, #5dc0bb);
}
.header .row{
    margin-top:70px;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
/* move navigation bar to right */
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #556;
}
p{
    color:#556;
}
/* centralize the home page */
.container{
    max-width: 1300px;
    margin:auto;
    padding-left: 25px;
    padding-right: 25px;
}
/* marginalize home page welcoming section */
.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
/* sizing home page image */
.col-2 img{
    max-width: 500px;
    padding: 50px 0;
} 

/* sizing h1 */
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
} 
/* design button */
.button{
    display: inline-block;
    background: #eb9a31;
    color: aliceblue;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius:30px;
    transition: background 0.5s; 
}
/* combine with transition for delay effect */
.button:hover{
    background: #563434;
}

.Categories{
    margin: 70px 0;
}

.card1, .card2, .card3{
    width: 300px;
    height: 330px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
  }
.card1{
    background-image: url(image/fiction-category.webp);
}
.card2{
    background-image: url(image/nonfiction-category.jpg);
}
.card3{
    background-image: url(image/textbook-category.jpg);
}
.card1:hover, .card2:hover, .card3:hover{
    transform: translateY(-10px);
}

.card1, .card2, .card3 h5{
    color: #ff9204;
    text-shadow: 0 0 5px #999;
    font-size: 24px;
}

.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4 img{
    width: 100%;
}

.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.title::after{
    content: '';
    background: #ff9204;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4{
    color: #555;
    font-weight: normal;
}
.col-4 p{
    font-size: 14px;
}

.col-4:hover{
    transform: translateY(-5px);
}